<div class="back-button">
  <%= link_to collections_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
</div>

<div class="collection-image-bg">
  <div class="collection-image-lg" style="background-image: url('<%= @collection.image %>');">
  </div>
</div>
<div class="container">
  <h1><%= @collection.name %></h1>
  <p><%= @collection.description %></p>
  <h3>Link to collection website:</h3>
  <p><%= @collection.link %></p>
</div>
