<div class="container" style="margin-top: 0;">
  <h1><%= @collection.name %></h1>
</div>
<div class="bg-img">
  <%= image_tag "collections_bg.gif" %>
  <div class="collection-image-bg">
    <% if @collection.image == "placeholder" %>
      <%= image_tag("eth_logo.png", class: "collection-image-lg") %>
    <% else %>
      <%= image_tag @collection.image, class: "collection-image-lg" %>
    <% end %>
  </div>
</div>

<div class="display">
  <div class="graph">
    <div class="graph-price">
      <div class="show-price">
        <i class="fa-brands fa-ethereum fa-2x" style="color: white;"> </i>
        <h2>
          <% unless @collection.histories.last.nil? %>
            <%= @collection.histories.last.price.round(2) %>
          <% else %>
            -
          <% end %>
        </h2>
      </div>
    </div>
    <%= area_chart(
        @collection
          .histories
          .group_by_day { |u| u.date_time }
          .to_h { |k, v| [k, v[0].price] },
          library: {
            ticks: {
              maxTicksLimit: max_tick_graph(params[:period]),  # This method is defined in app/helpers/application_helper.rb
              maxRotation: 0,
              autoSkip: true
            },
            scales: {
              x: {ticks: {display: true}},
              y: {ticks: {display: true}}
            }
          },
          height: "23vh"
    )%>
  </div>
</div>

<div class="container">
  <h3>Description:</h3>
  <p><%= @collection.description %></p>
  <br>
  <% unless @collection.link.nil? %>
    <h3>Link to collection website:</h3>
    <a href="<%= @collection.link %>"><%= @collection.link %></a>
  <% end %>
</div>

<br>

<div class="m-btn">
  <div class="add-btn">
    <%= link_to "Add", new_collection_nft_path(@collection), data:{turbo_method: :get} %>
  </div>
</div>
