<div class="back-button">
  <%= link_to collections_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
</div>


<div class="container" style="margin-top: 0;">
  <h1><%= @collection.name %></h1>
</div>
<div class="collection-image-bg">
  <div class="collection-image-lg" style="background-image: url('<%= @collection.image %>');">
  </div>
</div>

<div class="display">
  <div class="graph">
    <%= area_chart(
        @collection
          .histories
          .group_by_day { |u| u.date_time }
          .to_h { |k, v| [k, v[0].price] },
          library: {
            scales: {
              x: {ticks: {display: false}},
              y: {ticks: {display: false}}
            }
          },
          height: "23vh"
    )%>
  </div>
</div>

<div class="container">
  <p><%= @collection.description %></p>
  <% unless @collection.link.nil? %>
    <h3>Link to collection website:</h3>
    <a href="<%= @collection.link %>"><%= @collection.link %></a>
  <% end %>
</div>

<div class="btn">
  <div class="add-btn">
    <%= link_to "Add", new_collection_nft_path(@collection), data:{turbo_method: :get} %>
  </div>
</div>
