<div class="container">
  <div class="title">
    <h2>Portfolio Value</h2>
  </div>
  <div class="graph-days">
    <%= link_to "1 day", portfolio_path(@portfolio, period: 1), class: params[:period] == "1" ? "days-active" : "" %>
    <%= link_to "7 days", portfolio_path(@portfolio, period: 7), class: params[:period] == "7" ? "days-active" : "" %>
    <%= link_to "30 days", portfolio_path(@portfolio, period: 30), class: params[:period] == "30" ? "days-active" : "" %>
  </div>
</div>
<div class="display">
  <div class="graph">
    <div class="graph-price">
    <div class="show-price">
      <i class="fa-brands fa-ethereum fa-2x" style="color: white;"></i>
      <h2>
        <% unless @data[Date.today].nil? %>
          <%= @data[Date.today].round(2) %>
        <% else %>
          -
        <% end %>
      </h2>
    </div>
    </div>
    <%= area_chart(@data,
      library: {
        scales: {
          x: {ticks: {display: false}},
          y: {ticks: {display: true}}
          }
        },
        height: "23vh"
    )%>
  </div>
</div>

<div class="pnl-container">
    <% unless @portfolio.nfts.empty? %>
      <div class="portfolio-pnl">
        <% avg_nft_price_all = @portfolio.nfts.pluck(:purchase_price).sum / @portfolio.nfts.count %>
        <% prices= [] %>
        <% @portfolio.collections.each { |collection| prices << collection.histories.last.price}  %>
        <% avg_floor_price = prices.sum / @portfolio.collections.count %>
        <% pnl = (avg_floor_price - avg_nft_price_all) / avg_nft_price_all * 100 %>
        <p>Lifetime Profit and Loss: <%= number_to_percentage(pnl, precision: 2) %></p>
      </div>
    <% end %>
</div>

<div class="container-portfolio">
  <% unless @portfolio.nfts.empty? %>
    <div class="portfolio-holdings">
      <% @portfolio.collections.each do |collection| %>
        <%= link_to collection_path(collection) do %>
          <div class="card-homepage">
            <div class="image-homepage" style="background-image: url('<%= collection.image %>');">
            </div>
            <div class="collection-details">
              <div class="info">
                <h2><%= collection.name %></h2>
                <div class="info-detail">
                  <div class="short-desc">
                    <% nfts = [] %>
                    <% collection.nfts.where(collection: collection, portfolio: current_user.portfolio).each do |nft| %>
                      <% nfts << nft.purchase_quantity %>
                    <% end %>
                    <%= nfts.sum %><p>Owned</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="price-2">
              <div class="eth-price">
                <i class="fa-brands fa-ethereum"><% unless collection.histories.last.nil? %>
                    <%= collection.histories.last.price.round(2) %>
                  <% else %>
                    -
                  <% end %></i>
              </div>
              <div class="price-change">
                <% avg_nft_price = collection.nfts.where(portfolio: current_user.portfolio).pluck(:purchase_price).sum / collection.nfts.where(portfolio: current_user.portfolio).size %>
                <% difference = (collection.histories.last.price - avg_nft_price) / avg_nft_price * 100 %>
                <% if difference >= 0 %>
                  <div class="green">
                    <%= number_to_percentage(difference, precision: 2) %>
                  </div>
                <% else %>
                  <div class="red">
                    <%= number_to_percentage(difference, precision: 2) %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="empty-portf">
      <h1>Your Portfilio is empty</h1>
      <br>
      <h2>Look through our <%= link_to "Discover Page", collections_path %></h2>
      <br>
      <h2>And Add your NFTs to Track</h2>
    </div>
  <% end %>
</div>
