<div class="m-card">
  <h1>Add Your NFT from</h1>
  <h1><%= @collection.name %> </h1>
  <%= simple_form_for [@collection, @nft] do |f| %>
    <div class="white-text">
      <%= f.input :name %>
      <%= f.input :purchase_date %>
      <%= f.input :purchase_price %>
      <div class="flex-center margin-bottom-1">
      <%= f.submit "Add Purchase" %>
      </div>
    </div>
  <% end %>
</div>
