<!DOCTYPE html>
<html>
  <head>
    <title>Mintly</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap" rel="stylesheet">
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render "shared/header" %>
    <% end %>
    <%= yield %>
    <% if user_signed_in? %>
      <%= render "shared/navbar" %>
    <% end %>
  </body>
</html>
