<!DOCTYPE html>
<html>
  <head>
    <title>Mintly</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%# <%= javascript_importmap_tags %> %>
  </head>

  <body>
    <%= yield %>
    <% unless current_page?(new_user_session_path) || current_page?(new_user_registration_path) %>
      <%= render "shared/navbar" %>
    <% end %>
  </body>
</html>
